<div class="container">
<app-search-bar (submitted)="onTerm($event)"></app-search-bar> <br> <br>
<div *ngIf="!pages.length">
    <article class="message is-large">
        <div class="message-header">
          <p>Welcome to the Wikipedia Word Counter</p>
          <button class="delete is-large" aria-label="delete"></button>
        </div>
        <div class="message-body">
          I will fetch you word count and snippets from diffrent wikipedia articles.
          <br><br> <strong><ul></ul>To search something 
            <li> Type your word in the search box above. </li>
            <li> Press enter. </li>
            <li> Then wait for the me to count and load articles from Wikipedia. </li></strong>
        </div>
      </article>
</div>
<app-page-list *ngIf="pages.length" [pages]="pages"></app-page-list>
</div>